survey-date1 {

  .survey-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;

    ion-item {
      width: 100%;
      padding: 8px 0;
      min-height: auto;
      .item-inner {
        padding-right: 0 !important;
      }

      .display-datepicker {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, auto));
        gap: 8px;

        >div {
          position: relative;
          display: flex;
          align-items: center;
          padding: 8px;
          height: 40px;
          font-size: 1.3rem;
          border-radius: 4px;
          background: color($colors, lightgray2);

          &::before {
            font-family: "Ionicons";
            content: '\f3d0';
            position: absolute;
            margin: auto;
            top: 0;
            right: 8px;
            bottom: 0;
            height: 12px;
          }
        }
      }

      ion-datetime {
        position: absolute;
        width: 100%;
        height: 100%;
        color: transparent;

        button {
          padding: 0;
        }
      }
    }

    .survey-checkbox {
      position: relative;
      padding: 8px 0;
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 100px;
      font-size: 1.3rem;
      ion-checkbox {
        margin-right: 8px;
      }
    }
  }

}
