progress-bar {

  .progress-bar-wrapper {
    padding: 8px 0;
    display: flex;
    gap: 7px;
    .box {
      flex-grow: 1;
      height: 8px;
      background: color($colors, lightgray2);
      &.active {
        background: color($colors, orange);
      }
    }
  }
}
