<div class="survey-wrapper">

  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <!-- * 설문 활성화 여부 확인 (서버에 저장: survey.value) -->
  <!-- * saveMe options: true | false / true일 경우 id:value를 저장함 -->
  <!-- * cssClass options: block | grid -->

  <div class="survey-item-wrapper">
    <div class="survey-item-header">
      <div class="active-title" *ngIf="survey.activeTitle" [innerHTML]="survey.activeTitle | safeHtml"></div>
      <div class="active-radio" radio-group [(ngModel)]="survey.value" (ionChange)="setValue()">
        <ion-radio mode="md" [id]="survey.id + '_1'" [value]="'1'"></ion-radio>
        <label for-id elemTag="button" [for]="survey.id+'_1'" [innerHTML]="survey.activeTrueText | safeHtml"></label>
        <ion-radio mode="md" [id]="survey.id + '_0'" [value]="'0'"></ion-radio>
        <label for-id elemTag="button" [for]="survey.id+'_0'" [innerHTML]="survey.activeFalseText | safeHtml"></label>
      </div>
    </div>

    <!-- * 답변 리스트 -->
    <div class="survey-item-body" [ngClass]="{disabled:survey.value === '0'}">
      <div class="list-title" *ngIf="survey.listTitle" [innerHTML]="survey.listTitle | safeHtml"></div>
      <div class="answers" [ngClass]="survey.cssClass">
        <div class="answer" *ngFor="let item of survey.list"
          [ngClass]="{'is-label': item.label, 'is-last-label': item.lastLabel}">
          <label *ngIf="item.label" [ngClass]="item.cssClass" [innerHTML]="item.label | safeHtml"></label>
          <ion-input no-margin placeholder="{{item.placeholder || '입력해주세요.'}}" [ngClass]="item.cssClass"
            [disabled]="survey.value === '0'" [(ngModel)]="item.value" (ionChange)="setValue()">
          </ion-input>
          <label *ngIf="item.lastLabel" [innerHTML]="item.lastLabel | safeHtml"></label>
        </div>
      </div>
    </div>
  </div>

</div>
