survey-input3 {
  .survey-wrapper .answers {

    &.grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 0 44px;
      padding: 0;

      .answer:nth-child(2n) {
        position: relative;

        &::after {
          position: absolute;
          content: '/';
          top: 0;
          left: -24px;
          bottom: 0;
          margin: auto;
          height: 1.4rem;
          color: color($colors, gray9);
        }
      }
    }

    &.grid-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.block .answer.is-label.block {
      grid-column: 1/3;
      line-height: 45px;
    }
    
    &.block ion-input.block {
      padding-left: 0;
      padding-right: 0;
      grid-column: 1/3;
    }

    .answer.is-label {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0 8px;

      label {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    .answer.is-last-label {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0 8px;
      label {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    .answer.is-label.is-last-label {
      grid-template-columns: auto 1fr auto;
    }

    ion-input {
      padding: 8px;
      height: 45px;
      line-height: calc(45px - 16px);
      border-bottom: 1px solid color($colors, lightgray3);
    }



  }
}
