<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <div class="group-wrapper" margin-top margin-bottom *ngFor="let list of survey?.lists; let i = index;">
    <div class="group-title">
      <span>{{survey.groupTitle}} {{ i + 1 }}</span>
      <button ion-button no-margin (click)="removeGroup(i)">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <div class="group-survey" *ngFor="let item of list;" [ngSwitch]="item.type">

      <survey-date1 *ngSwitchCase="'date1'" [survey]="item" (changeFn)="setValue($event)"></survey-date1>

      <survey-input1 *ngSwitchCase="'input1'" [survey]="item" (changeFn)="setValue($event)"></survey-input1>

      <survey-input2 *ngSwitchCase="'input2'" [survey]="item" (changeFn)="setValue($event)"></survey-input2>

      <survey-input3 *ngSwitchCase="'input3'" [survey]="item" (changeFn)="setValue($event)"></survey-input3>

      <survey-input4 *ngSwitchCase="'input4'" [survey]="item" (changeFn)="setValue($event)"></survey-input4>

      <survey-radio1 *ngSwitchCase="'radio1'" [survey]="item" (changeFn)="setValue($event)"></survey-radio1>

      <survey-radio2 *ngSwitchCase="'radio2'" [survey]="item" (changeFn)="setValue($event)"></survey-radio2>

      <survey-range1 *ngSwitchCase="'range1'" [survey]="item" (changeFn)="setValue($event)"></survey-range1>

      <survey-check1 *ngSwitchCase="'check1'" [survey]="item" (changeFn)="setValue($event)"></survey-check1>

      <survey-textarea1 *ngSwitchCase="'textarea1'" [survey]="item" (changeFn)="setValue($event)"></survey-textarea1>

    </div>
  </div>

  <!-- 설문 추가하기 -->
  <div *ngIf="survey.maxLangth > survey.lists.length">
    <button ion-button block no-margin color="orange" class="add-btn" (click)="addGroup()" [innerHTML]="survey.addBtnTitle"></button>
    <div class="button-info" margin-top margin-bottom text-center>
      버튼을 클릭하여 {{survey.groupTitle}}를 추가해주세요.
    </div>
  </div>

</div>
