<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>
  <!-- 선택항목 -->
  <div class="survey-list" radio-group [(ngModel)]="survey.selected" (ionChange)="setActive()">
    <div class="survey-item" *ngFor="let item of survey.list" [ngClass]="item.role">
      <ion-radio mode="md" [value]="item" [id]="survey.id+'_'+item.id"></ion-radio>
      <label for-id elemTag="button" [for]="survey.id+'_'+item.id" *ngIf="item.title"
        [innerHTML]="item.title | safeHtml"></label>
    </div>
  </div>
</div>

<div *ngIf="survey.selected?.surveys?.length">

  <div *ngFor="let survey of survey.selected?.surveys" [ngSwitch]="survey.type">

    <survey-date1 *ngSwitchCase="'date1'" [survey]="survey" (changeFn)="setValue($event)"></survey-date1>

    <survey-input1 *ngSwitchCase="'input1'" [survey]="survey" (changeFn)="setValue($event)"></survey-input1>

    <survey-input2 *ngSwitchCase="'input2'" [survey]="survey" (changeFn)="setValue($event)"></survey-input2>

    <survey-input3 *ngSwitchCase="'input3'" [survey]="survey" (changeFn)="setValue($event)"></survey-input3>

    <survey-input4 *ngSwitchCase="'input4'" [survey]="survey" (changeFn)="setValue($event)"></survey-input4>

    <survey-radio1 *ngSwitchCase="'radio1'" [survey]="survey" (changeFn)="setValue($event)"></survey-radio1>

    <survey-radio2 *ngSwitchCase="'radio2'" [survey]="survey" (changeFn)="setValue($event)"></survey-radio2>

    <survey-range1 *ngSwitchCase="'range1'" [survey]="survey" (changeFn)="setValue($event)"></survey-range1>

    <survey-check1 *ngSwitchCase="'check1'" [survey]="survey" (changeFn)="setValue($event)"></survey-check1>

    <survey-more1 *ngSwitchCase="'more1'" [survey]="survey" (changeFn)="setValue($event)"></survey-more1>

    <survey-more2 *ngSwitchCase="'more2'" [survey]="survey" (changeFn)="setValue($event)"></survey-more2>

    <survey-more3 *ngSwitchCase="'more3'" [survey]="survey" (changeFn)="setValue($event)"></survey-more3>

    <survey-textarea1 *ngSwitchCase="'textarea1'" [survey]="survey" (changeFn)="setValue($event)"></survey-textarea1>

  </div>
</div>
