<ion-content no-bounce>
  <div class="account-wrapper">
    <div class="title-wrapper">
      <h2 no-margin>소방공무원들의<br>건강을 지켜드립니다.</h2>
    </div>
    <div class="code-wrapper">
      <div text-center>
        <label>건강체크 진행을 위한 개인 식별 코드를 입력해 주세요.</label>
        <div class="code" [ngClass]="{'placeholder': !code?.length}">{{code || '개인 식별 코드를 입력해 주세요.'}}</div>
        <label>개인 식별 코드를 정확하게 입력해 주세요.</label>
      </div>
    </div>
    <div class="keypad-wrapper">
      <div class="keys">
        <button class="number" (click)="addCode(1)">1</button>
        <button class="number" (click)="addCode(2)">2</button>
        <button class="number" (click)="addCode(3)">3</button>
        <button class="number" (click)="addCode(4)">4</button>
        <button class="number" (click)="addCode(5)">5</button>
        <button class="number" (click)="addCode(6)">6</button>
        <button class="number" (click)="addCode(7)">7</button>
        <button class="number" (click)="addCode(8)">8</button>
        <button class="number" (click)="addCode(9)">9</button>
        <div></div>
        <button class="number" (click)="addCode(0)">0</button>
        <button class="number del" (click)="removeCode()">지우기</button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-buttons no-margin>
    <button ion-button large full no-margin 
    [color]="(code && code.length >= 5)? 'orange' :'lightgray3'"
    [disabled]="!code || code.length < 5"
    (click)="checkCode()">
      <b>확인</b>
    </button>
  </ion-buttons>
</ion-footer>
