page-home {
  ion-content .scroll-content {
    background: color($colors, yellow);

    .account-wrapper {
      padding: 60px 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: auto auto auto;

      &>div {
        display: flex;
        justify-content: center;
      }
    }

    .title-wrapper {
      align-self: center;

      h2 {
        font-size: 3.5rem;
        font-weight: 800;
        text-align: center;
        padding: 60px 0;
      }
    }

    .code-wrapper {
      align-self: flex-start;
      padding-bottom: 32px;

      label {
        font-size: 1.6rem;
        font-weight: 600;
      }

      .code {
        margin: 16px 0;
        width: 450px;
        height: 60px;
        line-height: 60px;
        border: 1px solid color($colors, gray3);
        border-radius: 8px;
        font-size: 2rem;
        font-weight: 800;
        background: color($colors, white);
        color: color($colors, gray3);
        &.placeholder {
          color: color($colors, lightgray4);
        }
      }
    }

    .keypad-wrapper {
      align-self: flex-start;

      .keys {
        display: grid;
        grid-template-rows: repeat(4, 80px);
        grid-template-columns: repeat(3, 80px);
        gap: 32px;

        &>button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: color($colors, orange2);
        }

        .number {
          font-size: 3.75rem;
          font-weight: 800;
          border-radius: 50%;
          border: 3px solid color($colors, orange2);
          box-sizing: border-box;
          background: color($colors, white);
          cursor: pointer;
        }

        .del {
          font-size: 1.8rem;
          font-weight: 800;
        }
      }

    }
  }

}
