// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (white: #FFF,
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,

  yellow: #FFEDAF,
  orange: #FFB789,
  orange2: #FF6300,
  orange3: #FF9653,

  gray3: #333333,
  gray6: #666666,
  gray9: #999999,

  lightgray1: #F5F5F5,
  lightgray2: #E5E5E5,
  lightgray3: #DEDEDE,
  lightgray4: #A1A1A1,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$checkbox-ios-icon-border-radius: 0;
$checkbox-ios-background-color-on: color($colors, orange3);
$checkbox-ios-icon-border-color-off: color($colors, gray9);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$radio-md-icon-border-width: 1px;
$radio-md-icon-width: 24px;
$radio-md-icon-height: 24px;
$radio-md-color-on: color($colors, orange3);
$radio-md-color-off: color($colors, gray9);

$range-ios-bar-height: 2px;
$range-ios-tick-width: 2px;
$range-ios-tick-background-color: color($colors, gray9);
$range-ios-tick-active-background-color: color($colors, orange3);
$range-ios-bar-active-background-color: color($colors, orange3);

$range-ios-pin-font-size: 20px;
$range-ios-pin-padding-top: -20px;
$range-ios-pin-color: color($colors, orange3);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
.header .toolbar:last-child .toolbar-background {
  border-bottom-width: 0 !important;
}


@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
