survey-check1 {

  .survey-list {

    &.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      gap: 0 8px;
      padding: 0;
    }

    &.grid-2 {
      grid-template-columns: repeat(2, 1fr);
      .survey-item.etc {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .survey-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 40px;
      ion-checkbox {
        margin-right: 8px;
      }
      ion-input {
        margin-left: 8px;
        border-bottom: 1px solid color($colors, lightgray3);
        padding: 0 8px;
      }
      &.etc {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
  
}
