<!-- * 다중선택 설문 -->
<div class="survey-wrapper" *ngIf="survey">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <!-- * 체크박스 리스트 -->
  <!-- * cssClass options : grid | block -->
  <!-- * item role options : selector | etc -->
  
  <div class="survey-list" [ngClass]="survey.cssClass">
    <div class="survey-item" *ngFor="let item of survey.list" [ngClass]="item.role">
      <ion-checkbox [id]="survey.id+'_'+item.id" [(ngModel)]="item.checked" (ionChange)="setValue($event, item)"></ion-checkbox>
      <label for-id elemTag="button" [for]="survey.id+'_'+item.id" [innerHTML]="item.title | safeHtml"></label>
      <ion-input [disabled]="!item.checked" *ngIf="item.role === 'etc'" [(ngModel)]="item.value"
         placeholder="{{item.placeholder || '입력해주세요.'}}" (ionChange)="setEtc($event)"
      ></ion-input>
    </div>
  </div>
</div>
