<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <div class="survey-item-wrapper">

    <!-- * 설문 활성화 여부 확인 (서버에 저장: survey.value) -->
    <div class="survey-item-header">
      <div class="sub-title" *ngIf="survey.activeTitle" [innerHTML]="survey.activeTitle | safeHtml"></div>
      <div class="radio-active" radio-group [(ngModel)]="survey.value" (ionChange)="setActive()">
        <ion-radio mode="md" [id]="survey.id + '_1'" [value]="'1'"></ion-radio>
        <label for-id elemTag="button" [for]="survey.id+'_1'" [innerHTML]="survey.activeTrueText | safeHtml"></label>
        <ion-radio mode="md" [id]="survey.id + '_0'" [value]="'0'"></ion-radio>
        <label for-id elemTag="button" [for]="survey.id+'_0'" [innerHTML]="survey.activeFalseText | safeHtml"></label>
      </div>
    </div>

    <!-- * 답변 리스트 -->
    <div class="survey-item-body" *ngIf="survey.value === '1'">
      <div class="list-title" *ngIf="survey.listTitle" [innerHTML]="survey.listTitle | safeHtml"></div>
      <div class="answers">
        <div class="answer" *ngFor="let item of survey.list;" [ngSwitch]="item.type">

          <survey-date1 *ngSwitchCase="'date1'" [survey]="item" (changeFn)="setValue($event)"></survey-date1>

          <survey-input1 *ngSwitchCase="'input1'" [survey]="item" (changeFn)="setValue($event)"></survey-input1>

          <survey-input2 *ngSwitchCase="'input2'" [survey]="item" (changeFn)="setValue($event)"></survey-input2>

          <survey-input3 *ngSwitchCase="'input3'" [survey]="item" (changeFn)="setValue($event)"></survey-input3>

          <survey-input4 *ngSwitchCase="'input4'" [survey]="item" (changeFn)="setValue($event)"></survey-input4>

          <survey-more1 *ngSwitchCase="'more1'" [survey]="item" (changeFn)="setValue($event)"></survey-more1>

          <survey-more2 *ngSwitchCase="'more2'" [survey]="item" (changeFn)="setValue($event)"></survey-more2>

          <survey-more3 *ngSwitchCase="'more3'" [survey]="item" (changeFn)="setValue($event)"></survey-more3>

          <survey-radio1 *ngSwitchCase="'radio1'" [survey]="item" (changeFn)="setValue($event)"></survey-radio1>

          <survey-radio2 *ngSwitchCase="'radio2'" [survey]="item" (changeFn)="setValue($event)"></survey-radio2>

          <survey-range1 *ngSwitchCase="'range1'" [survey]="item" (changeFn)="setValue($event)"></survey-range1>

          <survey-check1 *ngSwitchCase="'check1'" [survey]="item" (changeFn)="setValue($event)"></survey-check1>

          <survey-textarea1 *ngSwitchCase="'textarea1'" [survey]="item" (changeFn)="setValue($event)">
          </survey-textarea1>

        </div>
      </div>

    </div>
  </div>
