survey-more3 {
  .survey-wrapper {
    padding-bottom: 8px;
  }
  .survey-item-wrapper {
    border: 1px solid color($colors, lightgray4);

    .survey-item-header {
      display: grid;
      grid-template-columns: 1fr auto;
      min-height: 54px;

      >div {
        padding: 16px;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .sub-title {
        font-size: 1.4rem;
        font-weight: 500;
      }

      .radio-active {
        label {
          margin: 0 8px;
        }
      }
    }

    .survey-item-body {
      padding: 8px;
      .list-title {
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }
}
