// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.survey-wrapper {
  padding: 8px;
  .survey-title-wrapper {
    label {
      display: block;
      padding: 8px 0;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .sub-title {
      padding: 8px 0;
      font-size: 1.3rem;
    }

    .description {
      padding: 8px 0;
      font-size: 1.2rem;
    }
  }
}

.alert,
.alert-ios,
.alert-md {
  .alert-wrapper {
    border-radius: 8px;
  }

  .alert-button-group {
    .alert-button {
      color: color($colors, gray3);

      &.cancel-btn {
        background: color($colors, lightgray3);
      }

      &.confirm-btn {
        background: color($colors, orange);
      }
    }
  }
}
