page-success {
  ion-content .scroll-content {
    background: color($colors, yellow);

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 200px;

      .title {
        font-size: 3.5rem;
        font-weight: 800;
      }

      img {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 50px;
        width: auto;
        height: 129px;
      }
    }
  }

}
