<ion-header>
  <ion-navbar color="white">
    <ion-title>상황평가</ion-title>
  </ion-navbar>
  <ion-toolbar color="white" padding-left padding-right>
    <progress-bar [lists]="subjectList.length" [target]="subject-1"></progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content padding-left padding-right>
  <div *ngIf="subjects[this.subject]">

    <div class="subject-wrapper" *ngIf="page===0">
      <div  *ngIf="subjects[this.subject].title || subjects[this.subject].subTitle || subjects[this.subject].description">
        <div class="title" *ngIf="subjects[this.subject].title"
          [innerHTML]="subjects[this.subject].title | safeHtml">
        </div>
        <div class="subtitle" *ngIf="subjects[this.subject].subTitle"
          [innerHTML]="subjects[this.subject].subTitle | safeHtml">
        </div>
        <div class="description" *ngIf="subjects[this.subject].description"
          [innerHTML]="subjects[this.subject].description | safeHtml">
        </div>
      </div>
    </div>

    <div class="page-wrapper">

      <div class="page-title-wrapper" [ngClass]="subjects[this.subject].pages[page].cssClass"
        *ngIf="subjects[this.subject].pages[page].title || subjects[this.subject].pages[page].subTitle ||
        subjects[this.subject].pages[page].description">
        <div class="title" *ngIf="subjects[this.subject].pages[page].title"
          [innerHTML]="subjects[this.subject].pages[page].title | safeHtml">
        </div>
        <div class="subtitle" *ngIf="subjects[this.subject].pages[page].subTitle"
          [innerHTML]="subjects[this.subject].pages[page].subTitle | safeHtml">
        </div>
        <div class="description" *ngIf="subjects[this.subject].pages[page].description"
          [innerHTML]="subjects[this.subject].pages[page].description | safeHtml">
        </div>
      </div>

      <div *ngIf="subjects[this.subject]?.pages[page].surveys">
        <div *ngFor="let survey of subjects[this.subject]?.pages[page].surveys" [ngSwitch]="survey.type">
  
          <survey-date1 *ngSwitchCase="'date1'" [survey]="survey"></survey-date1>
  
          <survey-input1 *ngSwitchCase="'input1'" [survey]="survey"></survey-input1>
  
          <survey-input2 *ngSwitchCase="'input2'" [survey]="survey"></survey-input2>
  
          <survey-input3 *ngSwitchCase="'input3'" [survey]="survey"></survey-input3>
  
          <survey-input4 *ngSwitchCase="'input4'" [survey]="survey"></survey-input4>
  
          <survey-radio1 *ngSwitchCase="'radio1'" [survey]="survey"></survey-radio1>
  
          <survey-radio2 *ngSwitchCase="'radio2'" [survey]="survey"></survey-radio2>
  
          <survey-range1 *ngSwitchCase="'range1'" [survey]="survey"></survey-range1>
  
          <survey-check1 *ngSwitchCase="'check1'" [survey]="survey"></survey-check1>
  
          <survey-more1 *ngSwitchCase="'more1'" [survey]="survey"></survey-more1>
  
          <survey-more2 *ngSwitchCase="'more2'" [survey]="survey"></survey-more2>
          
          <survey-more3 *ngSwitchCase="'more3'" [survey]="survey"></survey-more3>
  
          <survey-textarea1 *ngSwitchCase="'textarea1'" [survey]="survey"></survey-textarea1>
  
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row padding>
      <ion-col text-center>
        {{page +1}} / {{subjects[this.subject]?.pages.length}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 no-padding>
        <button ion-button no-margin large full color="lightgray3" (click)="prevPage()"><b>이전</b></button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button no-margin large full color="orange" (click)="nextPage()"><b>다음</b></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
