page-survey {

  ion-header ion-toolbar {
    min-height: auto !important;
  }

  .subject-wrapper {
    >div {
      padding: 8px 0;
    }

    .title {
      padding: 8px;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 4px;
      background: color($colors, yellow);
    }

    .subtitle {
      padding: 8px;
      margin-top: 8px;
      background: color($colors, lightgray1);
      font-size: 1.4rem;
    }

    .description {
      padding: 8px;
      font-size: 1.3rem;
    }
  }

  .page-wrapper {
    >div {
      padding: 8px 0;

    }

    .page-title-wrapper {
      .title {
        padding: 0 8px;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .subtitle {
        margin: 8px 8px 0 8px;
        padding: 8px;
        background: color($colors, lightgray1);
        font-size: 1.3rem;
      }

      .description {
        padding: 8px;
        font-size: 1.2rem;
      }
    }
  }

}
