survey-textarea1 {
  ion-textarea {
    margin-top: 8px;
    padding: 8px;
    height: 250px;
    border: 1px solid color($colors, lightgray3);
    border-radius: 4px;

    textarea {
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
      resize: none !important;
    }
  }

}
