<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>
  <!-- * 설문 답변 -->
  <ion-textarea placeholder="{{survey.placeholder || '입력해주세요.'}}" [(ngModel)]="survey.value" (ionChange)="setValue()">
  </ion-textarea>
</div>
 