<!-- * 단일 설문 -->

<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>
  
  <!-- * Radio List -->
  <!-- * cssClass options : grid | block -->
  <!-- * radioType options : radio | number -->
  <!-- * item role options : selector | etc -->
  <div class="survey-list" radio-group [(ngModel)]="survey.value" [ngClass]="survey.cssClass" (ionChange)="setValue()">
    <div class="survey-item" *ngFor="let item of survey.list" [ngClass]="item.role">
      <ion-radio mode="md" [attr.data-number]="survey.radioType === 'number' ? item.id: ''" [value]="item.id"
        [id]="survey.id+'_'+item.id" [checked]="survey.value === item.id">
      </ion-radio>
      <label for-id elemTag="button" *ngIf="item.title" [for]="survey.id+'_'+item.id" [innerHTML]="item.title | safeHtml"></label>
      <!-- * role: etc 의 경우 input-->
      <ion-input [disabled]="survey.value !== item.id" *ngIf="item.role === 'etc'" [(ngModel)]="item.value"
        placeholder="{{item.placeholder || '입력해주세요.'}}" (ionChange)="setEtc(item)">
      </ion-input>
    </div>
  </div>

</div>
