<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <!-- * Input 설문 리스트 -->
  <!-- * cssClass options: block | grid -->
  <div class="answers" [ngClass]="survey.cssClass">
    <div class="answer" *ngFor="let item of survey.list"
      [ngClass]="{'is-label': item.label, 'is-last-label': item.lastLabel}">
      <label *ngIf="item.label" [innerHTML]="item.label | safeHtml" [ngClass]="item.cssClass"></label>
      <ion-input no-margin placeholder="{{item.placeholder || '입력해주세요.'}}" [ngClass]="item.cssClass"
        [(ngModel)]="item.value"
        (ionChange)="setValue()">
      </ion-input>
      <label class="last-label" *ngIf="item.lastLabel" [innerHTML]="item.lastLabel | safeHtml"></label>
    </div>
  </div>

</div>
